//init
$def-font: 'Montserrat', sans-serif;
$def-blue: #0B1D2E;
$def-orange: #FF8600;
$def-yellow: #F4C612;
$def-transition: 0.4s;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: $def-font;
    color: white;
}

body {
    background-color: $def-blue;
    width: 100vw;
    overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .logo {
        width: 150px;
        height: 150px;
        background-image: url(images/logodark.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-left: 2rem;
            a {
                text-decoration: none;
                font-size: 1.5rem;
            }
            a:hover {
                color: $def-yellow;
                transition: $def-transition;
            }
        }
    }
}

.landing-content {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    .content-left {
        h1 {
            font-size: 3.2rem;
        }
        p {
            font-size: 1.2rem;
            margin-top: 2.6rem;
            width: 80%;
        }
        .button {
            width: 12rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 100px;
            margin-top: 3.2rem;
            background-color: $def-orange;
            transition: $def-transition;
        }
        .button:hover {
            filter: brightness(110%);
            cursor: pointer;
        }

    }
    .content-right {
        .geometry {
            width: 500px;
            height: 500px;
            background-image: url(images/geometry.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
        }
        .icons {
            width: 400px;
            height: 400px;
            top: 2%;
            left: 10%;
            background-color: transparent;
            background-image: url(images/icons.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
        }
    }
}

.about-content {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;
    justify-content: space-between;
    .about-icons {
        .circle {
            width: 300px;
            height: 300px;
            background-color: $def-yellow;
            border-radius: 50%;
            opacity: 1;
        }
    }
    .about-text {
        margin-left: 8rem;
        h1 {
            font-size: 3.2rem;
        }
        p {
            margin-top: 2.6rem;
            font-size: 1.2rem;
        }
    }
}

.services-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15rem;
    display: flex;
    flex-direction: column;

    .services-content-one {
        display: flex;
        margin-top: 20vh;
        justify-content: space-between;
        width: 100%;
        .service {
            width: 300px;
            height: 200px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            .service-icon {
                margin-left: auto;
                margin-right: auto;
                width: 150px;
                height: 150px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .service-icon.one {
                background-image: url(images/handshake.png);
            }
            .service-icon.two {
                background-image: url(images/graph.png);
            }
            .service-icon.three {
                background-image: url(images/trade.png);
            }
            .service-text {
                margin-top: 1.5rem;
                font-size: 1.2rem;
            }
        }
    
    }
    
    .services-content-two {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 4rem;
        .service {
            width: 300px;
            height: 200px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            .service-icon {
                width: 150px;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                background-image: url(images/acc.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .service-icon.four {
                background-image: url(images/ppl.png);
            }
            .service-icon.five {
                background-image: url(images/computer.png);
            }
            .service-icon.six {
                background-image: url(images/lightbulb.png);
            }
            .service-text {
                margin-top: 1.5rem;
                font-size: 1.2rem;
                
            }
        }
    
    }
}

.contact-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    .content-left {
        .contact-heading {
            font-size: 4rem;
        }
        .contact-details {
            margin-top: 10vh;
            .info-wrap {
                margin-top: 2rem;
                i {
                    font-size: 4rem;
                    margin-right: 5rem;
                }
                a {
                    font-size: 1.5rem;
                }
                p {
                    display: inline;
                    font-size: 2.2rem;
                    margin-right: 5rem;
                }
            }
        }

    }
}


//RESPONSIVE

@media (min-width: 320px) and (max-width: 480px) {
  
	html {
		font-size: 14px;
    }
    .geometry {
        display: none;
    }
    .about-icons {
        display: none;
    }

    .about-content .about-text {
        margin-left: 0rem;
        h1 {
            font-size: 2rem;
        }
    }
  
    .services-content-one {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        .service {
            margin-top: 5rem;
        }
    }
    .services-content-two {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        .service {
            margin-top: 5rem;
        }
    }
    .contact-wrapper .content-left .contact-heading {
        font-size: 2.3rem;
    }
    .contact-wrapper .content-left .contact-details .info-wrap p {
        font-size: 1.8rem;
        margin-right: 1.2rem;

    }
    .contact-wrapper .content-left .contact-details .info-wrap i {
        font-size: 3rem;
        margin-right: 2rem;
    }
    .contact-wrapper .content-left .contact-details .info-wrap a {
        font-size: 1.1rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        .logo {
            min-width: 70px;
            min-height: 70px;
            background-image: url(images/logodark.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        ul {
            display: flex;
            list-style-type: none;
            li {
                margin-left: 1rem;
                a {
                    text-decoration: none;
                    font-size: 1rem;
                }
                a:hover {
                    color: $def-yellow;
                    transition: $def-transition;
                }
            }
        }
    }



  }