//init
$def-font: 'Montserrat', sans-serif;
$def-blue: #0B1D2E;
$def-orange: #FF8600;
$def-yellow: #F4C612;
$def-transition: 0.4s;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    background-color: $def-blue;
    font-family: $def-font;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .logo {
        width: 150px;
        height: 150px;
        background-image: url(images/logodark.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin-left: 2rem;
            a {
                text-decoration: none;
                font-size: 1.5rem;
            }
            a:hover {
                color: $def-yellow;
                transition: $def-transition;
            }
        }
    }
}

.landing-content {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5vh;
    .content-left {
        h1 {
            font-size: 3.2rem;
        }
        p {
            font-size: 1.2rem;
            margin-top: 2.6rem;
            width: 80%;
        }
        .button {
            width: 12rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;
            font-size: 1.2rem;
            border-radius: 100px;
            margin-top: 3.2rem;
            background-color: $def-orange;
            transition: $def-transition;
        }
        .button:hover {
            filter: brightness(110%);
            cursor: pointer;
        }

    }
    .content-right {
        .geometry {
            width: 500px;
            height: 500px;
            background-image: url(images/geometry.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;
        }
        .icons {
            width: 400px;
            height: 400px;
            top: 2%;
            left: 10%;
            background-color: transparent;
            background-image: url(images/icons.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
        }
    }
}

.about-content {
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;
    justify-content: space-between;
    .about-icons {
        .circle {
            width: 300px;
            height: 300px;
            background-color: $def-yellow;
            border-radius: 50%;
            opacity: 1;
        }
    }
    .about-text {
        margin-left: 8rem;
        h1 {
            font-size: 3.2rem;
        }
        p {
            margin-top: 2.6rem;
            font-size: 1.2rem;
        }
    }
}

.services-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .services-content-one {
        display: flex;
        margin-top: 20vh;
        .service {
            width: 400px;
            height: 400px;
            text-align: center;
            .service-icon {
                margin-left: auto;
                margin-right: auto;
                width: 150px;
                height: 150px;
                background-size: contain;
                background-repeat: no-repeat;
            }
            .service-icon.one {
                background-image: url(images/handshake.png);
            }
            .service-icon.two {
                background-image: url(images/graph.png);
            }
            .service-icon.three {
                background-image: url(images/trade.png);
            }
            .service-text {
                margin-top: 1.5rem;
                font-size: 1.2rem;
            }
        }
    
    }
    
    .services-content-two {
        display: flex;
        .service {
            width: 400px;
            height: 400px;
            text-align: center;
            .service-icon {
                width: 150px;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                background-image: url(images/acc.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .service-icon.four {
                background-image: url(images/ppl.png);
            }
            .service-icon.five {
                background-image: url(images/computer.png);
            }
            .service-icon.six {
                background-image: url(images/lightbulb.png);
            }
            .service-text {
                margin-top: 1.5rem;
                font-size: 1.2rem;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    
    }
}

.contact-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    .content-left {
        .contact-heading {
            font-size: 4rem;
        }
        .contact-details {
            margin-top: 15vh;
            i {
                font-size: 2rem;
            }
            i:nth-of-type(4) {
                font-size: 1rem;
            }
            p {
            }
        }

    }
    .content-right {
        margin-top: 10vh;
        h4 {
            font-size: 1.3rem;
            margin-bottom: 0.8vh;
        }
        input {
            width: 18rem;
            height: 2.2rem;
            margin-bottom: 3.5vh;
            background-color: white;
            color: $def-blue;
            font-size: 1rem;
            padding-left: 10px;
        }
        input:nth-of-type(3) {
            width: 28rem;
            height: 10rem;

        }
    }
}
